In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
percap = pd.read_excel(r"C:\Users\jainmiahsk\Desktop\perincome.xlsx")
percap.head(10)

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583
5  1975              5998.144346
6  1976              7062.131392
7  1977              7100.126170
8  1978              7247.967035
9  1979              7602.912681

In [6]:
X = percap.iloc[:,:-1]
X.head()

   year
0  1970
1  1971
2  1972
3  1973
4  1974

In [7]:
X.shape

(47, 1)

In [8]:
y = percap.iloc[:,1:]
y.head()

   per capita income (US$)
0              3399.299037
1              3768.297935
2              4251.175484
3              4804.463248
4              5576.514583

In [9]:
y.shape

(47, 1)

In [10]:
#Importing machine learning libraries
from sklearn import linear_model

In [11]:
reg = linear_model.LinearRegression()
reg.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [12]:
reg.predict(2020)

array([[41288.69409442]])

In [13]:
#Importing joblib libraries for saving file to reuse
from sklearn.externals import joblib

In [14]:
joblib.dump(reg,'reg_joblib')

['reg_joblib']

In [15]:
reg_file = joblib.load('reg_joblib')

In [16]:
reg_file.predict(2022)

array([[42945.62424486]])